<suite name="Phoenix API Test Suite" parallel="classes" verbose="1">
  <test name="Inwarranty Flow Test">
    <classes>
      <class name="ApiTests.LoginApiTest"/>
      <class name="ApiTests.UserDetailsApiTest"/>
      <class name="ApiTests.CountApiTest"/>
      <class name="ApiTests.MasterApiTest"/>
      <class name="ApiTests.CreateJobApiTest"/>
      <class name="ApiTests.CreateJobApiWithDBValidationTest"/>
      <class name="ApiTests.CreateJobApiWithDBValidationTest2"/>
      <class name="ApiTests.DashboardDetailsAPITest"/>
      <class name="ApiTests.SearchJobApiTest"/>
    </classes>
  </test>
</suite>