<suite name="Phoenix API Test Suite" verbose="1">
  <test name="Inwarranty Flow Test">
    <classes>
      <class name="ApiTests.LoginApiTest"/>
      <class name="ApiTests.UserDetailsApiTest"/>
      <class name="ApiTests.CountApiTest"/>
      <class name="ApiTests.MasterApiTest"/>
      <class name="ApiTests.CreateJobApiTest"/>
    </classes>
  </test>
</suite>